<section id="forms">
  <div class="row">
    <div class="span10 offset1">
      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :class => "well form-search" , :method => :post}) do |f| %>
        <fieldset>
          <legend>Resend confirmation instructions</legend>
          <%= devise_error_messages! %>


            <%= f.email_field :email, class:"input-small" ,placeholder:"Email"%>

          <%= f.submit "Resend confirmation instructions" ,class:"btn"%>
          <%= render "devise/shared/links" %>
        </fieldset>
      <% end %>
    </div>
  </div>
</section>