<script>
    jQuery(document).ready(function(){
      // binds form submission and fields to the validation engine
      jQuery("#elm_id").validationEngine();
    });
            
</script>



<%= form_tag( {:controller=>"organisation", :action=>"show"},:id => 'elm_id',:method => :get) do %>
<table >
  <tbody>
<%= label(:amount, "Donate:") %>
<%= text_field_tag :calculation_amount, params[:calculation_amount],:class => "validate[required,custom[integer],min[0]] text-input]", :autofocus => true %>  

    <% @organisation_money.each do |organisation_money| %>
      <tr>    
        <% @org_money_id = organisation_money.id %>   
          <% @org_id = organisation_money.organisation_id %>  
          <% @org_amt = organisation_money.total_amount %>   
      </tr>  
      </tr>
    <% end %>
     <%= hidden_field_tag :org_money_id, @org_money_id %>
      <%= hidden_field_tag :org_id, @org_id %>
       <%= hidden_field_tag :org_tot_amt, @org_amt %>
  </tbody>
</table>
 <%= submit_tag "Search", :name => nil %>

<% end %>