<section id="forms">
  <div class="row">
    <div class="span10 offset1">
      <legend>Change your password</legend>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:class =>"well form-horizontal" , :method => :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
          <div class="control-group">
            <div class="controls">
              <%= f.password_field :password, placeholder: "New Password" ,class: "input-xlarge"%>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.password_field :password_confirmation, placeholder: "Confirm new password",class: "input-xlarge"%>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit "Sign in", :class=>'btn btn-primary'%>
            <button type="reset" class="btn">Cancel</button>
          </div>
          <%= render "devise/shared/links" %>
          </fieldset>
      <% end %>
    </div>
  </div>
</section>