<h1>Organization#index</h1>
<p><%= link_to "sign_out", destroy_user_session_path %></p>
<%- model_class = Organisation -%>

<table >
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
         <td><%= organisation.id %></td>
        <td><%= organisation.name %></td>
        <td>
          <%= link_to t('Donate'),
                      organisation_money_index_path(:organisation_id => organisation.id), :class => 'btn btn-mini' %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      book_path(book),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_book_path(:book_genre => @current_book_genre),
            :class => 'btn btn-primary' %>
