<%= link_to "sign_out", destroy_user_session_path %>
<%- model_class = Organisation -%>

 <p>  Click on Organisation Image to Donate</p>
<table cellpadding="0" cellspacing="10" width="100%">
 <!-- IMAGES FOR ROW 1 -->
 
  <tr align="left">
    <td valign="bottom" width="25%">     
    <%= link_to (image_tag("1.jpeg" ),  organisation_money_index_path(:org_name=> "ahcf " ,:organisation_id => 100), :class => 'btn btn-mini')   %></a>
    </td>
    <td valign="bottom" width="25%">
    <%= link_to (image_tag("2.jpeg" ),  organisation_money_index_path(:org_name=> "Baldricks" ,:organisation_id => 200), :class => 'btn btn-mini') %>
    </td>
    <td valign="bottom" width="25%">
    <%= link_to (image_tag("3.png" ),  organisation_money_index_path(:org_name=> "Bill Gates",:organisation_id => 300), :class => 'btn btn-mini')   %>
    </td>
    <td valign="bottom" width="25%">
    <%= link_to (image_tag("4.jpeg" ),  organisation_money_index_path(:org_name=> "National Park",:organisation_id => 400), :class => 'btn btn-mini')  %>
    </td>
  </tr>
  <!-- CAPTIONS FOR ROW 1 -->
  </table>