<h1>Organizations</h1>
<p><%= link_to "sign_out", destroy_user_session_path %></p>
<%- model_class = Organisation -%>

<table >
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
         <td><%= organisation.id %></td>
        <td><%= organisation.name %></td>
        <td>
          <%= link_to t('Donate'),
                      organisation_show_path(:organisation_id => organisation.id), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>