

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Finance</title>
  <%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
   <div class="navbar navbar-inverse">
    <div class="navbar-inner">
    <a class="brand">Finance</a>

<ul class="nav pull-right">
  

  <% if user_signed_in? %>
<li><h4><a><%= current_user.email %>
  </a></h4></li>
  <li><a>|</a></li> 
  <li>
  <h4>

<%= link_to "Sign out", destroy_user_session_path %><h4>

</li>
<% end %>
</ul>
    </div>
    </div>
     <div class="container">
    <div class="row">
   
  <div class="span6">
    <%= yield %>
          <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
  </div>
 
 

  <div class="span5">
    <center>
<%= link_to image_tag("charity.png", :border => 0) %></center>
 
</div>
 </div>
   </div>

<div class="navbar navbar-fixed-bottom">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
<center><p>Copyright (c) 2013 DonateHelp.com. All rights reserved.</p></center>
</div>
</div>
</div>


</body>
</html>
